html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input {
    margin-bottom: -1px;
}

.form-signin input[name='username'] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[name='display-name'] {
    border-radius: 0;
}

.form-signin input[name='email'] {
    border-radius: 0;
}

.form-signin input[name='password'] {
    border-radius: 0;
}

.form-signin input[name='confirm-password'] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
